* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 26px;
  padding-bottom: 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 177px;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.nav__link {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #4D5053;
  line-height: 150%;
}
.nav__link:hover {
  color: #CDA274;
}

.hero {
  background-image: url(../img/background-one.png);
  background-size: 1440px;
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 266px;
  background-position: center;
}
.hero__title {
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: 0em;
  margin-bottom: 19px;
  color: #292F36;
  font-family: "DM Serif Display", serif;
}
.hero__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-bottom: 35px;
}
.hero__btn {
  padding: 18px 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: 1px solid #292F36;
  background-color: #292F36;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 21px;
}
.hero__btn:hover, .hero__btn:focus {
  border: 1px solid #CDA274;
  background-color: #fff;
  color: #CDA274;
}
.hero__icon {
  fill: #CDA274;
  width: 35px;
  height: 35px;
}

.furniture {
  padding-top: 75px;
  padding-bottom: 70px;
}
.furniture__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.furniture__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #292F36;
  margin-bottom: 17px;
}
.furniture__text {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
}
.furniture__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #292F36;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.furniture__icon {
  width: 24px;
  height: 17px;
  fill: #CDA274;
}

.design {
  padding-top: 83px;
}
.design__wrap {
  display: flex;
  padding-top: 40px;
  padding-bottom: 37px;
  justify-content: space-between;
}
.design__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0em;
  margin-bottom: 42px;
  font-family: "DM Serif Display", serif;
  color: #292F36;
}
.design__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.design__call-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}
.design__call-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F0EC;
  width: 93px;
  height: 93px;
}
.design__wrap-icon {
  width: 34px;
  width: 34px;
}
.design__number {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  color: #292F36;
}
.design__word {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #292F36;
}
.design__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 18px 34px;
  background-color: #292F36;
  border: 1px solid #292F36;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 21px;
}
.design__btn:hover, .design__btn:focus {
  border: 1px solid #CDA274;
  background-color: #fff;
  color: #CDA274;
}
.design__icon {
  fill: #CDA274;
  width: 35px;
  height: 35px;
}
.abt {
  padding-top: 157px;
}
.abt__box-wrapper {
  padding-top: 103px;
  padding-bottom: 120px;
  border-radius: 70px;
  background-color: #F4F0EC;
}
.abt__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0em;
  text-align: center;
  color: #292F36;
  margin-bottom: 46px;
}
.abt__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.abt__box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.abt__item {
  width: 356px;
  border-radius: 30px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 35px;
}
.abt__subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.01em;
  font-family: "DM Serif Display", serif;
  color: #292F36;
  margin-bottom: 5px;
}
.abt__img {
  width: 77px;
  height: 77px;
}
.abt__word {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.abt__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.clients {
  padding-top: 140px;
  padding-bottom: 100px;
}
.clients__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 55px 0 55px;
}
.clients__icon {
  width: 160px;
  height: 100px;
  fill: #292F36;
}
.clients__icon:hover, .clients__icon:focus {
  fill: #CDA274;
}

.projects {
  padding-top: 113px;
  padding-bottom: 60px;
}
.projects__title {
  font-weight: 400;
  font-size: 47px;
  line-height: 133%;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "DM Serif Display", serif;
  color: #292F36;
}
.projects__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 70px;
}
.projects__wrapper {
  display: flex;
  justify-content: space-between;
}
.projects__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 156%;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  font-family: "DM Serif Display", serif;
  color: #292F36;
}
.projects__word {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects__boxer {
  display: flex;
}/*# sourceMappingURL=main.css.map */