.abt {
    padding-top: 157px;



    &__box-wrapper {
        padding-top: 103px;
        padding-bottom: 120px;
        border-radius: 70px;
        background-color: $hover-btn-color;
    }

    &__title {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 45px;
        line-height: 130%;
        letter-spacing: 0em;
        text-align: center;
        color: $btn-color;
        margin-bottom: 46px;
    }


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }


    &__box {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;
    }


    &__item {
        width: 356px;
        border-radius: 30px;
        background-color: $background-color;
        padding-top: 50px;
        padding-bottom: 45px;
        padding-left: 35px;
    }


    &__subtitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: 0.01em;
        font-family: "DM Serif Display", serif;
        color: $btn-color;
        margin-bottom: 5px;
    }


    &__img {
        width: 77px;
        height: 77px;


    }


    &__word {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.01em;
    }


    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.01em;
    }





}