.footer {
    padding-top: 114px;
    padding-bottom: 36px;


    &__list-icon {
        display: flex;
        gap: 40px;
        margin-top: 30px;

    }


    &__list-icon-svg {
        width: 30px;
        height: 30px;
        fill: $btn-color;


        &:hover,
        &:focus {
            fill: $hover-color;
        }
    }


    &__text {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
    }


    &__box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 110px;
        margin-bottom: 36px;
        border-bottom: 1px solid $text-color;
    }


    &__subtitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: 0.01em;
        font-family: "DM Serif Display", serif;
        color: $btn-color;
        margin-bottom: 21px;
    }


    &__item-div {
        color: $btn-color;
        margin-bottom: 30px;
    }


    &__link-div {
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $text-color;

        &:hover,
        &:focus {
            color: $hover-color;
        }
    }


    &__wrapper-text {
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        text-align: center;
    }


    &__wrapper-word {
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $hover-color;
    }


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}


    &__ {}















































































}