.header {
    padding-top: 26px;
    padding-bottom: 18px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 177px;
    }

    &__list {
        display: flex;
        gap: 40px;
    }

    &__item {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: $text-color;

        &:hover{
            color: $hover-color;
        }
    }
}